body {
  background: aquamarine;
}
h1 {
  color: tomato;
  font-size: 3rem;
  text-align: center;
}
p {
  color: darkmagenta;
  font-size: small;
}
#hero {
  color: black;
  font-size: 1.5rem;
}
.text {
  color: blue;
  font-size: medium;
}
